:host {
  display: block;
  --progrss-bar-color: var(--ion-color-step-200, #fff);
}

.circle {
  fill: none;
}

.circle.segment-1,
.circle.segment-2,
.circle.segment-3 {
  stroke: #7b3f27;
}

.outline {
  stroke: var(--ion-color-step-500);
}

.label-1 {
  fill: var(--ion-color-step-500);
  font-size: 1.5rem;
}

.label-2,
.label-3 {
  fill: var(--ion-color-step-500);
  font-size: 0.8rem;
}
