:host {
  display: block;
}

.overflow-y-hidden {
  --overflow: hidden
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.flash-container {
  display: none;
  transform: scale(0.01);
  flex-grow: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 200px;
}

.skip-intro-btn {
  position: relative;
  display: none;
}

.go-btn {
  flex-grow: 1;
  position: relative;
  justify-content: center;
  align-items: center;
}

.container.playing .skip-intro-btn {
  display: block;
}

.container.initial .go-btn {
  display: flex;
}

.container.playing .go-btn,
.container.ended .go-btn {
  display: none;
}
