:host {
  display: block;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.h-container {
  text-align: center;
  height: 70px;
}

.svg-container {
  flex-grow: 1;
  position: relative;
}

.svg-container>div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-container>div>svg {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.puzzle-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.puzzle-piece {
  opacity: 1;
}

/* Overlay path */

.puzzle-piece path.overlay {
  z-index: 1;
  fill: rgba(255, 255, 255, 0);
}
.puzzle-piece.unlocked path.overlay{
  cursor: pointer;
}

.puzzle-piece.unlocked path.overlay:hover {
  fill: rgba(0, 0, 0, 0.1)
}

.puzzle-piece.unlocked path.overlay:active {
  fill: rgba(0, 0, 0, 0.2)
}

/* Covering path */

.puzzle-piece path:not(.overlay) {
  transition: all 2s;
  stroke: var(--ion-background-color);
}

.puzzle-piece.locked path:not(.overlay) {
  transition: all 2s;
  fill: var(--ion-color-step-200);
}

.puzzle-piece.unlocked path:not(.overlay) {
  transition: all 2s;
  fill: var(--ion-color-step-850);
}

.puzzle-piece.done path:not(.overlay) {
  transition: all 2s;
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(255, 255, 255, 0.225);
}

/* Text */

.puzzle-piece text {
  transition: fill s2;
  font-weight: 700;
  text-anchor: middle;
  pointer-events: none;
}
.puzzle-piece text.nr {
  font-size: 170px;
}
.puzzle-piece text.label {
  font-size: 50px;
}

.puzzle-piece.unlocked text {
  fill: #585987;
}

.puzzle-piece.locked text {
  fill: var(--ion-background-color);
}


.puzzle-piece.done text {
  fill: rgba(0, 0, 0, 0)
}

.puzzle-piece.done:hover text,
.puzzle-piece.done:active text {
  fill: var(--ion-text-color);
}

