:host {
  display: block;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  --bg-locked: var(--app-puzzle-piece-bg-locked);
  --bg-unlocked: var(--app-puzzle-piece-bg-unlocked);
  --bg-highlighed: var(--app-puzzle-piece-bg-highlighed);

  --text-locked: var(--app-puzzle-piece-text-locked);
  --text-unlocked: var(--app-puzzle-piece-text-unlocked);
  --text-highlighed: var(--app-puzzle-piece-text-highlighed);
}

.h-container {
  text-align: center;
  height: 70px;
}

.svg-container {
  flex-grow: 1;
  position: relative;
}

.svg-container>div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-container>div>svg {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.puzzle-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.puzzle-piece {
  opacity: 1;
}

/* Overlay path used to catch click and hover */

.puzzle-piece path.overlay {
  z-index: 1;
  fill: rgba(255, 255, 255, 0);
}

.puzzle-piece.unlocked path.overlay {
  cursor: pointer;
}

.puzzle-piece.unlocked path.overlay:hover {
  fill: rgba(0, 0, 0, 0.1)
}

.puzzle-piece.unlocked path.overlay:active {
  fill: rgba(0, 0, 0, 0.2)
}

/* Cover path, used to fill the shape with color */

.puzzle-piece path.cover {
  transition: all 2s;
  stroke: var(--ion-background-color);
}

.puzzle-piece.locked path.cover {
  transition: all 200ms;
  fill: var(--bg-locked);
}

.puzzle-piece.unlocked path.cover {
  transition: all 2s;
  fill: var(--bg-unlocked);
}

.puzzle-piece.done path.cover {
  transition: all 2s;
  fill: rgba(0, 0, 0, 0); /* invisible */
  stroke: rgba(255, 255, 255, 0.225);
}

.puzzle-piece.highlighted path.cover {
  transition: all 200ms;
  fill: var(--bg-highlighed);
}

/* Text */

.puzzle-piece text {
  transition: fill s2;
  font-weight: 600;
  text-anchor: middle;
  pointer-events: none;
}

.puzzle-piece text.nr {
  font-size: 170px;
}

.puzzle-piece text.label {
  font-size: 50px;
}

.puzzle-piece.unlocked text {
  fill: var(--text-unlocked);
}


.puzzle-piece.locked text {
  fill: var(--text-locked);

}
.puzzle-piece.highlighted text {
  fill: var(--text-highlighed);
}


.puzzle-piece.done text {
  fill: rgba(0, 0, 0, 0)
}

.puzzle-piece.done:hover text,
.puzzle-piece.done:active text {
  fill: var(--ion-text-color);
}

.title {
  fill: var(--ion-color-step-500);
  font-size: 3.8rem;
}

.game-finished {
  min-width: 18rem;
  text-align: center;
  margin-bottom: 2rem;
  transition: height 2s;
}
.game-finished.hidden {
  height: 0px;
  overflow: hidden;
}

.game-finished.visible {
  height: 11.875rem;
  overflow: hidden;
}
.game-finished>p {
  font-size: 1.5rem;
}
