:host {
  display: block;
}

.coupon-wrapper {
  transform: scale(0.8);
  transform-origin: left;
  width: 440px;
  overflow: hidden;
  margin: 0 auto;
}

.coupon {
  font-size: 16px;
  margin-left: -5px;
  width: 450px;
  background: beige;
  color: rgb(52, 52, 52);
  padding: 16px;
  line-height: 32px;
  border-left: 10px dotted var(--ion-background-color);
  border-right: 10px dotted var(--ion-background-color);
}

.coupon > div:first-of-type {
  font-size: 23.5px;
}

.coupon > div:nth-of-type(2) {
  position: relative;
  font-size: 32px;
  margin-bottom: 16px;
  border-bottom: 2px solid rgb(52, 52, 52);
}

.coupon > div:nth-of-type(2) > span {
  position: absolute;
  font-size: 16px;
  line-height: 22px;
  right: 0;
  bottom: 0;
  color: rgb(116, 116, 116);
}

.coupon > div:nth-of-type(3) {
  text-align: center;
  line-height: 24px;
  font-family: monospace;
}

.coupon > div:nth-of-type(3) > pre {
  font-weight: 700;
}

.coupon > div:nth-of-type(4) {
  color: rgb(116, 116, 116);
  text-align: left;
  margin-top: 12px;
}

@media screen and (min-width: 460px) {
  .coupon-wrapper {
    transform: unset;
  }
}
